{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{{block.super}}
    <div class="card">
  <div class="card-header">
    Upload Photo
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <form action="{%url 'upload_photo'%}" method="post" class="form" enctype="multipart/form-data">
          {%csrf_token%}
            {{form|crispy}}
          <br>

          <div class="form-group mb-2">
            <button id="submit" type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}